<main>
  <%- include("partials/rename-folder") %> <%- include("partials/delete-folder")
  %> <%- include("partials/create-folder") %> <%-
  include("partials/upload-file") %> <%- include("partials/share-status") %>
  <div>
    <div>
      <button>Up</button>
      <h2>
        <%= folder?.name %><span><%= folder?.shared ? "(Shared)" : "" %></span>
      </h2>
      <button>Rename</button>
      <button>Delete</button>
    </div>
    <div>
      <button>New folder</button>
      <button>Upload a file</button>
      <button>Share status</button>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Created at</th>
        <th>Size</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- Show child folders -->
      <% folder?.childFolders.forEach(child => { %>
      <tr>
        <td><%= child.name %></td>
        <td><%= child.createdAt %></td>
        <td></td>
        <td></td>
      </tr>
      <% }) %>
      <!-- Show files -->
      <% folder?.files.forEach(file => { %>
      <%- include("partials/rename-file", {file}) %>
      <%- include("partials/delete-file", {file}) %>
      <tr>
        <td><%= file.name %></td>
        <td><%= file.uploadedAt %></td>
        <td><%= file.size %></td>
        <td>
          <button>Download</button>
          <button>Rename</button>
          <button>Delete</button>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</main>
